@charset "UTF-8";

/* fix alignment of logo vs text */
#header .logo img {
    vertical-align: middle;
}

/* Blog body specific formatting */

.style4 .content p img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Blog body specific formatting */
.style4 .content ul {
    list-style: initial;
}

.style4 .content ul li {
    margin-left: 1.75em;
}

/*
ul.tagcloud li.list-group-item span.badge {
    background-color: #3fb1a3;
    color: white;
    border-radius: 40%
}*/

/* Comments related */
/*
.comment-footer li:first-child {
  margin-right: auto;
}*/

.numero {
  position: relative;
  top: -0.5rem;
}

/* Comment Icons
------------------------- */
.icon-star,
.icon-bubble {
  fill: #999999;
  height:24px;
  margin-right: 0.5rem;
  transition: 0.25s ease;
  width: 24px;
}


.icon-star:hover,
.icon-bubble:hover {
    fill: #ff4d4d;
}

/*** OTHERS ***/
.small {
    font-size: 0.7em;
    margin-bottom: 0.7em;

}

/*
.blog-tags ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.blog-tags li + li {
  margin-left: 0.5rem;
}

.blog-tags a {
  border: 1px solid #999999;
  border-radius: 3px;
  color: #999999;
  font-size: 0.75rem;
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  padding: 0 0.5rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 5rem;
}*/

